/* File to give the style to the whole webapp */

/* First we give style to headers */

h1 {
    color: #7c795d; 
    font-family: 'Trocchi', serif; 
    font-size: 45px; 
    font-weight: bold; 
    line-height: 48px; 
    margin: 0;
    text-align: center;

}

h2 {
    text-align: center;
    color: white;
}

/* Body background color */

body {
    background-color: #003049;
    overflow-x: hidden;
}

/* Style to the forms embedded in tables */

form {

    position: relative;
    top: 100px;

}

table {
    width:50%;
	margin:auto;
	background-color:#4040bf;
	border:solid 2px #000066;
    padding:5px;
    border-radius: 9%;

}

.izq {
    text-align: right;
}

.der {
    text-align: left;
}

td {   

    text-align: center;
    padding: 10px;
}

input[type="submit"] {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color:#4095c6;
}

/* Registration style */

.register {

    position: relative;
    top: 150px;

}

/*.register button {
    position: relative;
    left: 50%;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}*/

.register button:hover {
    background-color:#4095c6;

}

.register a {
    text-decoration: none;
}

/* Giving some style to the buttons section on Blog website */

.log_back {
    position: relative;
    left: 500px;
}

/*.log_back button {
    position: relative;
    left: 50%;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}*/

button {
    position: relative;
    left: 50%;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}

/* Styling Blog_Controller.php */

.uploaded_photo {

    position: relative;
    color: white;
    left: 400px;
    top: 150px;
    border: 3px dotted white;
    padding: 20px 20px;
    border-radius: 8%;
    margin-right: 800px;

}

.buttons_uploaded {

    position: relative;
    top: 250px;
    left: -80px;
    z-index: 1;

}

/* -------------------------------------------------------------------------- */


/* Styling Login_Model.php */

.failed_registration {

    position: relative;
    color: white;
    left: 400px;
    top: 150px;
    border: 3px dotted white;
    padding: 20px 20px;
    border-radius: 8%;
    margin-right: 800px;

}

.buttons_failure {

    position: relative;
    top: 250px;
    left: -80px;
    z-index: 1;

}

/* -------------------------------------------------------------------------- */


/* Styling button Blog in FormBlog_View.php */

.blog {

    position: relative;
    left: 800px;
    z-index: 1;
    bottom: 162px;

}

/* -------------------------------------------------------------------------- */


/* Styling button Blog in Error_View.php */

.error_page {
    position: relative;
    left: 450px;
    top: 200px;
    color: white;
    border: 3px dotted white;
    padding: 20px 20px;
    border-radius: 8%;
    margin-right: 800px;

}

.button_failure_email {
    position: relative;
    bottom: -100px;
    left: 0px;
}

/* -------------------------------------------------------------------------- */

.register_index {
    position: relative;
    top: 150px;
}

/* Styling all buttons */

.button {
    position: relative;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
    color: #FFFFFF;
}

/* -------------------------------------------------------------------------- */

/* Styling photo grid */

.gallery {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 40vw);
    grid-gap: 15px;
    width: 100%;

}

.gallery_img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* -------------------------------------------------------------------------- */

